/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
  background: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.card_container {
    width: 320px;
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0px 25px 25px hsla(0, 0%, 0%, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  margin-top: 21%;
  margin-bottom: 21%;
}

img {
  margin-bottom: 24px;
  border-radius: 10px;
}

h1 {
  margin:0 16px;
  font-family: Outfit, sans-serif;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

p {
  margin: 16px 32px;
  text-align: center;
  font-family: Outfit, sans-serif;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.1875px;
  font-style: normal;
}